@import "variables.scss";

.el-menu--vertical .el-menu--popup,
.el-menu--vertical .el-menu--popup> a >li.el-menu-item {
        //background-color: transparent !important;
        //mix-blend-mode: difference;
}
.el-menu--vertical .el-menu--popup> a >li.el-menu-item{
    &:hover{
        background-color: transparent !important;
        -webkit-filter: brightness(110%); /* Chrome, Safari, Opera */
        filter: brightness(110%);
    }
}

#app {
    .aside {
        transition: width $transitionTime;
        //background-color: $bg !important;
        transition: background-color  $transitionTime;
    }
    .el-header{
        //background-color: $bg !important;
    }
    // 主体区域
    .main-container {
        min-height: 100%;
        transition: margin-left $transitionTime;
        margin-left: $sidebarWidth;
    }

    .sidebar-container .menu-wrapper >a > li.el-menu-item,
    .sidebar-container .menu-wrapper >li.el-submenu > div.el-submenu__title{
       background-color: transparent !important;
        color: $fontColor !important;
        &:hover{
            background-color: transparent !important;
            -webkit-filter: brightness(110%); /* Chrome, Safari, Opera */
            filter: brightness(110%);
        }
    }
    
    // 侧边栏
    .sidebar-container {
        transition: width $transitionTime;
        position: absolute;
        font-size: 0px;
        z-index: 1001;
        overflow: hidden;
        width: 100%;
        //reset element-ui css
        .horizontal-collapse-transition {
            transition: 0s width ease-in-out, 0s padding-left ease-in-out, 0s padding-right ease-in-out;
        }
        .scrollbar-wrapper {
            height: calc(100% + 15px);
            .el-scrollbar__view {
                height: 100%;
            }
        }
        .is-horizontal {
            display: none;
        }
        a {
            display: inline-block;
            width: 100%;
            overflow: hidden;
        }
        .svg-icon {
            margin-right: 16px;
        }
        .el-menu {
            border: none;
            height: 100%;
            width: 100% !important;
            background-color: transparent !important;
            .el-menu-item{
                //mix-blend-mode: difference !important;
            }
        }
    }
    .hideSidebar {
        h1 {
            width: 36px !important;
        }
        .sidebar-container {
            width: 36px !important;
        }
        .main-container {
            margin-left: 36px;
        }
        .submenu-title-noDropdown {
            padding-left: 10px !important;
            position: relative;
            .el-tooltip {
                padding: 0 10px !important;
            }
        }
        .el-submenu {
            overflow: hidden;
            &>.el-submenu__title {
                padding-left: 10px !important;
                .el-submenu__icon-arrow {
                    display: none;
                }
            }
        }
        .el-menu--collapse {
            .el-submenu {
                &>.el-submenu__title {
                    &>span {
                        height: 0;
                        width: 0;
                        overflow: hidden;
                        visibility: hidden;
                        display: inline-block;
                    }
                }
            }
        }
    }
    
    .sidebar-container .nest-menu .el-submenu>.el-submenu__title,
    .sidebar-container .el-submenu .el-menu-item {
        min-width: $sidebarWidth !important;
        background-color: transparent !important;
            -webkit-filter: brightness(110%); /* Chrome, Safari, Opera */
            filter: brightness(110%);
        &:hover {
            background-color: transparent;
            -webkit-filter: brightness(90%); /* Chrome, Safari, Opera */
            filter: brightness(90%);
        }
    }
    .el-menu--collapse .el-menu .el-submenu {
        min-width: $sidebarWidth !important;
    }
    //适配移动端
    .mobile {
        .main-container {
            margin-left: 0px;
        }
        .sidebar-container {
            transition: transform $transitionTime;
            width: $sidebarWidth !important;
        }
        &.hideSidebar {
            .sidebar-container {
                transition-duration: 0.3s;
                transform: translate3d(-$sidebarWidth, 0, 0);
            }
        }
    }
    .withoutAnimation {
        .main-container,
        .sidebar-container {
            transition: none;
        }
    }
}