//sidebar
$menuBg:#192227; //全站主色调
$subMenuBg:#263238; //子菜单背景颜色
$menuHover:#141c20; //导航hover
$sidebarWidth:180px; //侧边栏宽度
$logoHeight:50px; //logo 高度
$fontColor:rgb(191, 203, 217); //nav 文字颜色
$breadLinkColor:#646465;//面包屑链接
$breadLinkHover:#1e1edb;//面包屑链接hover

$transitionTime: .28s