//sidebar
$--color-primary: #409EFF;
$fontColor:rgb(191, 203, 217); //nav 文字颜色
$breadLinkHover:#1e1edb;//面包屑链接hover
$--background-color--a1:rgba($color: #fff, $alpha: 0.1) !important;
$--background-color--a2:rgba($color: #fff, $alpha: 0.2) !important;

$transitionTime: .28s